src/pages/customer-info.pug
extends includes/layout
include mixins/account-nav

block vars
	- var title = "Poleznus - Customer info"

append content
	main#customer-info-page
		section.performer-info-main-section
			.container
				.row
					.col-12.col-lg-3
						+accountNav(1, 'customer')
					.col-12.col-lg-9
						.performer-info-wrap
							.tabs-container
								ul.nav.nav-tabs(id="performer-info-tab" role="tablist")
									.tab-indicator
									li.nav-item
										a.nav-link.active.tab-active(id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about")
											span Обо мне
									li.nav-item
										a.nav-link(id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description")
											span Описание
									li.nav-item
										a.nav-link(id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts")
											span Контакты
								.tab-content
									.tab-pane.show.active(id="about" role="tabpanel" aria-labelledby="about-tab")
										.performer-tab-info
											h1.section-title Обо мне
											.form-group.form-file-group.m-w-120.m-w-xl-150
												.form-img
													img(src="/images/ProfileDefault.svg" alt="Profile")
												input.form-input.file-input(type="file" name="profile" accept="image/jpeg,image/png,image/jpg")
										h2.section-title Общая информация
										form.form-container.m-w-xl-380(action="/" data-form-ajax method="POST")
											input(type="hidden" name="formType" value="about")
											.form-group
												input.form-input.full-width(type="text" name="name" placeholder="Имя" required)
											.form-group
												input.form-input.full-width(type="text" name="lastName" placeholder="Фамилия" required)
											.form-group
												input.form-input.full-width(type="text" name="middleName" placeholder="Отчество" required)
											.form-group.form-select-group
												.form-icon.to-right
													img(src="/images/SelectArrow.svg" alt="Arrow")
												select.form-input.full-width.with-icon-right(name="city" id="city" required)
													option(value="" disabled selected) Город
													option(value="city-1") Одесса
													option(value="city-2") Харьков
													option(value="city-3") Херсон
											.form-group.with-label
												p.form-label Дата рождения
												input.form-input.full-width(type="date" name="birthDate" placeholder="Дата рождения" required)
											.form-group.form-radio-group.with-label
												p.form-label Пол
												label.form-radio-label Мужской
													input.form-radio(type="radio" name="gender" value="male" required)
													span.form-radio-checkmark
												label.form-radio-label Женский
													input.form-radio(type="radio" name="gender" value="female" required)
													span.form-radio-checkmark
											button.disable-profile(type="button") Отключить профиль
									.tab-pane(id="description" role="tabpanel" aria-labelledby="description-tab")
										.performer-tab-info
											h1.section-title Описание профиля
										form.form-container.m-w-xl-380(action="/" data-form-ajax method="POST")
											p.additional-description Если вы постоянно ищете исполнителей - то есть смысл заполнить описание
												| профиля с деталями и сферой. Ну или о том какое у вас любимое хобби.
											.form-group.form-area-group
												textarea.form-area(name="profileDesc" rows="10" placeholder="Описание")
									.tab-pane(id="contacts" role="tabpanel" aria-labelledby="contacts-tab")
										.performer-tab-info
											h1.section-title Контакты
										form.form-container.m-w-xl-380(action="/" data-form-ajax method="POST")
											.form-group
												input.form-input.full-width(type="tel" name="phone" value="+38 (096) 123 45 67" placeholder="Телефон" disabled required)
											.form-group
												input.form-input.full-width(type="email" name="email" placeholder="Почта" required)
											.form-group
												input.form-input.full-width(type="tel" name="secondPhone" placeholder="Телефон 2")
											.form-group
												input.form-input.full-width(type="text" name="viber" placeholder="Viber")
											.form-group
												input.form-input.full-width(type="text" name="telegram" placeholder="Telegram")
											.form-group
												input.form-input.full-width(type="text" name="facebook" placeholder="Facebook")
											.form-group
												input.form-input.full-width(type="text" name="instagram" placeholder="Instagram")
											.form-group
												input.form-input.full-width(type="text" name="website" placeholder="Website")

dist/customer-info.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<title>Poleznus - Customer info</title>
		<link href="css/style.bundle.css?f840de32f265658da150" rel="stylesheet" />
	</head>
	<body>
		<header class="header" id="header">
			<div class="container-fluid">
				<div class="header__content-wrap">
					<a class="header__logo" href="/"><img src="/images/Logo.svg" alt="Logo" /></a>
					<form class="form-group d-none d-md-block" action="/" data-form-ajax>
						<div class="form-icon to-left"><img src="/images/InputSearch.svg" alt="Search" /></div>
						<input class="form-input with-icon-left" name="search" placeholder="Что нужно сделать?" />
					</form>
				</div>
				<div class="header__actions-wrap d-flex d-xl-none">
					<div class="header__action header__action_search d-block d-md-none">
						<div class="header__action-icon header__action_search"><img src="/images/Search.svg" alt="Search" /></div>
					</div>
					<div class="header__action header__action_account">
						<button class="header__action-icon" type="button" data-toggle="modal" data-target="#registration">
							<img src="/images/Account.svg" alt="Account" />
						</button>
					</div>
					<div class="header__action header__action_menu">
						<div class="header__action-icon">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
				<div class="header__content-wrap d-none d-xl-flex">
					<div class="header__links-wrap">
						<a class="header__link is-link" href="/">Заказы</a>
						<a class="header__link is-link" href="/">Мои заказы</a>
						<a class="header__link is-link" href="/">Исполнители</a>
						<a class="header__link is-link" href="/">Как это работает</a>
					</div>
					<div class="header__account-actions">
						<button class="custom-btn" type="button" data-toggle="modal" data-target="#registration"><span>Зарегистрироваться</span></button>
						<button class="header__link" type="button" data-toggle="modal" data-target="#login">Логин</button>
					</div>
				</div>
			</div>
		</header>
		<div class="header-search d-flex d-md-none">
			<div class="container-fluid">
				<form class="search-form" action="/" data-form-ajax method="POST">
					<div class="form-group header-search-input">
						<img class="search-icon" src="/images/InputSearch.svg" alt="Search" />
						<input placeholder="Что нужно сделать?" />
						<button class="search-btn" type="submit"><img src="/images/SendIcon.svg" alt="Search" /></button>
					</div>
				</form>
			</div>
		</div>
		<main id="customer-info-page">
			<section class="performer-info-main-section">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-3">
							<ul class="performer-links">
								<li class="performer-links__item active"><a class="performer-links__link" href="/customer-info.html">Общая информация</a></li>
								<li class="performer-links__item"><a class="performer-links__link" href="/customer-password.html">Изменить пароль</a></li>
								<li class="performer-links__item"><a class="performer-links__link" href="/customer-reviews.html">Отзывы</a></li>
								<li class="performer-links__item"><a class="performer-links__link" href="/customer-profile.html">Публичный профиль</a></li>
							</ul>
						</div>
						<div class="col-12 col-lg-9">
							<div class="performer-info-wrap">
								<div class="tabs-container">
									<ul class="nav nav-tabs" id="performer-info-tab" role="tablist">
										<div class="tab-indicator"></div>
										<li class="nav-item">
											<a
												class="nav-link active tab-active"
												id="about-tab"
												data-toggle="tab"
												href="#about"
												role="tab"
												aria-controls="about"
											>
												<span>Обо мне</span>
											</a>
										</li>
										<li class="nav-item">
											<a
												class="nav-link"
												id="description-tab"
												data-toggle="tab"
												href="#description"
												role="tab"
												aria-controls="description"
											>
												<span>Описание</span>
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts">
												<span>Контакты</span>
											</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane show active" id="about" role="tabpanel" aria-labelledby="about-tab">
											<div class="performer-tab-info">
												<h1 class="section-title">Обо мне</h1>
												<div class="form-group form-file-group m-w-120 m-w-xl-150">
													<div class="form-img"><img src="/images/ProfileDefault.svg" alt="Profile" /></div>
													<input class="form-input file-input" type="file" name="profile" accept="image/jpeg,image/png,image/jpg" />
												</div>
											</div>
											<h2 class="section-title">Общая информация</h2>
											<form class="form-container m-w-xl-380" action="/" data-form-ajax method="POST">
												<input type="hidden" name="formType" value="about" />
												<div class="form-group"><input class="form-input full-width" name="name" placeholder="Имя" required /></div>
												<div class="form-group">
													<input class="form-input full-width" name="lastName" placeholder="Фамилия" required />
												</div>
												<div class="form-group">
													<input class="form-input full-width" name="middleName" placeholder="Отчество" required />
												</div>
												<div class="form-group form-select-group">
													<div class="form-icon to-right"><img src="/images/SelectArrow.svg" alt="Arrow" /></div>
													<select class="form-input full-width with-icon-right" name="city" id="city" required>
														<option value="" disabled="disabled" selected="selected">Город</option>
														<option value="city-1">Одесса</option>
														<option value="city-2">Харьков</option>
														<option value="city-3">Херсон</option>
													</select>
												</div>
												<div class="form-group with-label">
													<p class="form-label">Дата рождения</p>
													<input class="form-input full-width" type="date" name="birthDate" placeholder="Дата рождения" required />
												</div>
												<div class="form-group form-radio-group with-label">
													<p class="form-label">Пол</p>
													<label class="form-radio-label">
														Мужской
														<input class="form-radio" type="radio" name="gender" value="male" required />
														<span class="form-radio-checkmark"></span>
													</label>
													<label class="form-radio-label">
														Женский
														<input class="form-radio" type="radio" name="gender" value="female" required />
														<span class="form-radio-checkmark"></span>
													</label>
												</div>
												<button class="disable-profile" type="button">Отключить профиль</button>
											</form>
										</div>
										<div class="tab-pane" id="description" role="tabpanel" aria-labelledby="description-tab">
											<div class="performer-tab-info"><h1 class="section-title">Описание профиля</h1></div>
											<form class="form-container m-w-xl-380" action="/" data-form-ajax method="POST">
												<p class="additional-description">
													Если вы постоянно ищете исполнителей - то есть смысл заполнить описаниепрофиля с деталями и сферой. Ну или о
													том какое у вас любимое хобби.
												</p>
												<div class="form-group form-area-group">
													<textarea class="form-area" name="profileDesc" rows="10" placeholder="Описание"></textarea>
												</div>
											</form>
										</div>
										<div class="tab-pane" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
											<div class="performer-tab-info"><h1 class="section-title">Контакты</h1></div>
											<form class="form-container m-w-xl-380" action="/" data-form-ajax method="POST">
												<div class="form-group">
													<input
														class="form-input full-width"
														type="tel"
														name="phone"
														value="+38 (096) 123 45 67"
														placeholder="Телефон"
														disabled="disabled"
														required
													/>
												</div>
												<div class="form-group">
													<input class="form-input full-width" type="email" name="email" placeholder="Почта" required />
												</div>
												<div class="form-group">
													<input class="form-input full-width" type="tel" name="secondPhone" placeholder="Телефон 2" />
												</div>
												<div class="form-group"><input class="form-input full-width" name="viber" placeholder="Viber" /></div>
												<div class="form-group"><input class="form-input full-width" name="telegram" placeholder="Telegram" /></div>
												<div class="form-group"><input class="form-input full-width" name="facebook" placeholder="Facebook" /></div>
												<div class="form-group"><input class="form-input full-width" name="instagram" placeholder="Instagram" /></div>
												<div class="form-group"><input class="form-input full-width" name="website" placeholder="Website" /></div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-3 col-lg-2">
						<a class="footer__logo" href="/"><img src="/images/Logo.svg" alt="Logo" /></a>
						<div class="footer__socials d-none d-md-flex">
							<a class="footer__social-link" href="/"><img src="/images/FacebookIcon.svg" alt="Facebook" /></a>
							<a class="footer__social-link" href="/"><img src="/images/InstagramIcon.svg" alt="Instagram" /></a>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-5 col-lg-3">
						<h5 class="footer__title d-none d-lg-block">Разделы</h5>
						<h5 class="footer__title d-block d-lg-none">Разделы и помощь</h5>
						<ul class="footer__links-list">
							<li class="footer__links-item"><a class="footer__link is-link" href="/">О проекте</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Как это работает</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Заказы</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Исполнители</a></li>
						</ul>
						<ul class="footer__links-list d-flex d-lg-none">
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Вопросы и ответы</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Сообщить об ошибке</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Предложить функцию/идею</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Публичная оферта</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Правила конфиденциальности</a></li>
						</ul>
					</div>
					<div class="col-lg-4 d-none d-lg-block">
						<h5 class="footer__title">Помощь</h5>
						<ul class="footer__links-list">
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Вопросы и ответы</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Сообщить об ошибке</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Предложить функцию/идею</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Публичная оферта</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Правила конфиденциальности</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">
						<h5 class="footer__title">Контакты</h5>
						<div class="footer__address-wrap">
							<p class="footer__link">Почта</p>
							<a class="footer__address-info" href="mailto:support@poleznus.com">support@poleznus.com</a>
						</div>
						<div class="footer__address-wrap">
							<p class="footer__link">Телефон</p>
							<a class="footer__address-info" href="tel: 0 800 12 3456">0 800 12 3456</a>
						</div>
						<div class="footer__address-wrap">
							<p class="footer__link">Время работы</p>
							<p class="footer__address-info">Пн — Пт: c 8:00 до 20:00</p>
							<p class="footer__address-info">Сб — Вс: c 9:00 до 18:00</p>
						</div>
						<div class="footer__socials d-flex d-md-none">
							<a class="footer__social-link" href="/"><img src="/images/FacebookIcon.svg" alt="Facebook" /></a>
							<a class="footer__social-link" href="/"><img src="/images/InstagramIcon.svg" alt="Instagram" /></a>
						</div>
					</div>
					<div class="col-12">
						<div class="footer__copyright-row">
							<p class="footer__copyright-text">
								<a href="/">poleznus.com</a>
								© 2020
							</p>
							<p class="footer__copyright-text">
								Created with love by
								<a href="/">MantiCore Development</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="global-menu">
			<div class="container-fluid">
				<form class="search-form d-block d-md-none" action="/" data-form-ajax method="POST">
					<div class="form-group header-search-input">
						<img class="search-icon" src="/images/InputSearch.svg" alt="Search" />
						<input placeholder="Что нужно сделать?" />
						<button class="search-btn" type="submit"><img src="/images/SendIcon.svg" alt="Search" /></button>
					</div>
				</form>
				<ul class="global-menu__links-list">
					<li class="global-menu__links-item"><a class="global-menu__link" href="/">Заказы</a></li>
					<li class="global-menu__links-item"><a class="global-menu__link" href="/">Исполнители</a></li>
					<li class="global-menu__links-item"><a class="global-menu__link" href="/">Как это работает</a></li>
				</ul>
				<div class="global-menu__btns-row">
					<button class="custom-btn" type="button" data-toggle="modal" data-target="#registration"><span>Зарегистрироваться</span></button>
					<button class="custom-btn" type="button" data-toggle="modal" data-target="#login"><span>Войти</span></button>
				</div>
			</div>
		</div>
		<div class="filters-modal" id="filters">
			<div class="filters-modal__background"></div>
			<button class="filter-btn filters-modal__close" type="button">
				<img src="/images/FiltersClose.svg" alt="Filters" />
				<span class="d-none d-md-block">Фильтры</span>
			</button>
			<div class="filters-modal__body">
				<form class="form-container row" id="delas-filters" method="POST" action="/" data-form-ajax>
					<div class="form-group form-select-group with-label">
						<p class="form-label">Город</p>
						<div class="form-icon to-right"><img src="/images/SelectArrow.svg" alt="Arrow" /></div>
						<select class="form-input full-width with-icon-right" name="city" id="city" required>
							<option value="hide" selected="selected">Город</option>
							<option value="city-1">Одесса</option>
							<option value="city-2">Харьков</option>
							<option value="city-3">Херсон</option>
						</select>
					</div>
					<div class="form-group form-select-group with-label">
						<p class="form-label">Районы</p>
						<select class="form-input full-width with-icon-right" name="region" id="region" multiple="multiple" required>
							<option value="hide" selected="selected">Район</option>
							<option value="region-1">Одесский</option>
							<option value="region-2">Харьковский</option>
							<option value="region-3">Херсонский</option>
						</select>
					</div>
					<div class="form-group form-select-group with-label">
						<p class="form-label">Категории</p>
						<select
							class="form-input full-width with-icon-right"
							name="category"
							id="category"
							multiple="multiple"
							required
							data-select-type="chip-select"
						>
							<option value="hide" selected="selected">Выбрать категорию</option>
							<option value="region-1">Строительство домов</option>
							<option value="region-2">Ремонт квартир</option>
							<option value="region-3">Сварочные работы</option>
						</select>
						<div class="filters-chips d-none"></div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="container">
							<div class="modal-title">Ремонт квартир</div>
							<div class="modal-sub-title">Поставил плинтусы, побелил потолок и покрасил стены</div>
							<div class="modal-slider">
								<div class="slider" id="portfolioSlider">
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
								</div>
								<div class="modal-slider-pagination">
									<div class="modal-slider-pagination__count modal-slider-pagination__count_current">1</div>
									<div class="modal-slider-pagination__count">/</div>
									<div class="modal-slider-pagination__count modal-slider-pagination__count_total">8</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-lg-7 col-top-content">
									<h2 class="modal-title">Регистрация</h2>
									<div class="modal-socials">
										<a class="modal-link modal-link__fb" href="/"><img class="svg" src="/images/FB_social.svg" alt="Facebook" /></a>
										<a class="modal-link modal-link__google" href="/"><img class="svg" src="/images/Google_social.svg" alt="Google" /></a>
										<a class="modal-link modal-link__apple" href="/"><img class="svg" src="/images/Apple_social.svg" alt="Apple" /></a>
									</div>
									<p class="modal-sub-title">Или через ваши данные:</p>
									<form class="modal-form" id="registration-form" method="POST" action="/" data-form-ajax>
										<div class="form-group"><input class="form-input" type="tel" name="phone" placeholder="Телефон" required /></div>
										<div class="form-group"><input class="form-input" type="email" name="email" placeholder="Почта" required /></div>
										<div class="form-group"><input class="form-input" type="password" name="password" placeholder="Пароль" required /></div>
										<button class="custom-btn" type="submit"><span>Зарегистрироваться</span></button>
									</form>
								</div>
								<div class="col-12 col-lg-5 col-bottom-content">
									<div class="modal-img modal-img-hats"><img src="/images/Hats.svg" alt="Hats" /></div>
									<h2 class="modal-title">Есть аккаунт?</h2>
									<p class="modal-sub-title">Чтобы создавать заказы или искать работу нужно войти в ранее созданный аккаунт</p>
									<a class="custom-btn" data-dismiss="modal" data-toggle="modal" href="#login"><span>Авторизоваться</span></a>
									<div class="modal-img modal-img-illustration"><img src="/images/ModalIllustration.svg" alt="Illustration" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-lg-7 col-top-content">
									<h2 class="modal-title">Вход в аккаунт</h2>
									<div class="modal-socials">
										<a class="modal-link modal-link__fb" href="/"><img class="svg" src="/images/FB_social.svg" alt="Facebook" /></a>
										<a class="modal-link modal-link__google" href="/"><img class="svg" src="/images/Google_social.svg" alt="Google" /></a>
										<a class="modal-link modal-link__apple" href="/"><img class="svg" src="/images/Apple_social.svg" alt="Apple" /></a>
									</div>
									<p class="modal-sub-title">Или войдите через ваши данные:</p>
									<form class="modal-form" id="login-form" method="POST" action="/" data-form-ajax>
										<div class="form-group"><input class="form-input" name="email" placeholder="Email или Телефон" required /></div>
										<div class="form-group"><input class="form-input" type="password" name="password" placeholder="Пароль" required /></div>
										<button class="custom-btn" type="submit"><span>Войти</span></button>
										<a class="modal-form-link is-link" data-dismiss="modal" data-toggle="modal" href="#recovery">
											<span class="link">Забыли пароль?</span>
										</a>
									</form>
								</div>
								<div class="col-12 col-lg-5 col-bottom-content">
									<div class="modal-img modal-img-hats"><img src="/images/Hats.svg" alt="Hats" /></div>
									<h2 class="modal-title">Нет аккаунта?</h2>
									<p class="modal-sub-title">Чтобы создавать заказы или искать работу нужно создать аккаунт с информацией о вас</p>
									<a class="custom-btn" data-dismiss="modal" data-toggle="modal" href="#registration"><span>Создать аккаунт</span></a>
									<div class="modal-img modal-img-illustration"><img src="/images/ModalIllustration.svg" alt="Illustration" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="recovery" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-lg-7 col-top-content">
									<h2 class="modal-title">Забыли пароли?</h2>
									<p class="modal-sub-title">Введите вашу почту и мы отправим вам код подтверждения</p>
									<form class="modal-form" id="recovery-form" method="POST" action="/" data-form-ajax>
										<div class="form-group"><input class="form-input" type="email" name="email" placeholder="Email" required /></div>
										<button class="custom-btn" type="submit"><span>Восстановить пароль</span></button>
										<a class="modal-form-link" data-dismiss="modal" data-toggle="modal" href="#login">
											<span class="text">Вспомнили пароль?</span>
											<span class="link">Войти</span>
										</a>
									</form>
								</div>
								<div class="col-12 col-lg-5 col-bottom-content">
									<div class="modal-img modal-img-hats"><img src="/images/Hats.svg" alt="Hats" /></div>
									<h2 class="modal-title">Нет аккаунта?</h2>
									<p class="modal-sub-title">Чтобы создавать заказы или искать работу нужно создать аккаунт с информацией о вас</p>
									<a class="custom-btn" data-dismiss="modal" data-toggle="modal" href="#registration"><span>Создать аккаунт</span></a>
									<div class="modal-img modal-img-illustration"><img src="/images/ModalIllustration.svg" alt="Illustration" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<h2 class="modal-title">Спасибо за заявку</h2>
						<p class="modal-sub-title">Мы свяжемся с вами позже</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="successRecovery" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-lg-7 col-top-content">
									<div class="modal-img success-icon"><img src="/images/SuccessIcon.svg" alt="Success" /></div>
									<h2 class="modal-title">Проверьте вашу почту</h2>
									<p class="modal-sub-title">Мы отправили вам инструкцию по сбросу пароля</p>
									<p class="modal-sub-title">
										Нет письма? Проверьте спам или свяжитесь со
										<a href="tel:0 800 12 3456">службой поддержки</a>
									</p>
								</div>
								<div class="col-12 col-lg-5 col-bottom-content">
									<div class="modal-img modal-img-hats"><img src="/images/Hats.svg" alt="Hats" /></div>
									<h2 class="modal-title">Нет аккаунта?</h2>
									<p class="modal-sub-title">Чтобы создавать заказы или искать работу нужно создать аккаунт с информацией о вас</p>
									<a class="custom-btn" data-dismiss="modal" data-toggle="modal" href="#registration"><span>Создать аккаунт</span></a>
									<div class="modal-img modal-img-illustration"><img src="/images/ModalIllustration.svg" alt="Illustration" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/bundle.js?f840de32f265658da150"></script>
	</body>
</html>
