src/pages/performer-portfolio.pug
extends includes/layout
include mixins/account-nav

block vars
  - var title = "Poleznus - Performer portfolio"

append content
  main#performer-portfolio-page
    section.performer-portfolio-main-section
      .container
        .row
          .col-12.col-lg-3
            +accountNav(2, 'performer')
          .col-12.col-lg-9
            .performer-portfolio-wrap
              h1.section-title Портфолио
              form.form-container(action="/" data-form-ajax method="POST" enctype="multipart/form-data")
                .form-group.form-file-group
                  .form-file-upload
                    img(src="/images/PortfolioDefault.svg" alt="Portfolio")
                    input.form-input.file-input.excluded(type="file" multiple id="portfolioFile" name="files" accept="image/jpeg,image/png,image/jpg")
                  .form-files-row
                .form-group.form-select-group
                  .form-icon.to-right
                    img(src="/images/SelectArrow.svg" alt="Arrow")
                  select.form-input.full-width.with-icon-right(name="category" id="category")
                    option(value="" disabled selected) Категория
                    option(value="category-1") Категория 1
                    option(value="category-2") Категория 2
                    option(value="category-3") Категория 3
                .form-group.form-area-group
                  textarea.form-area(name="portfolioDesc" rows="8" placeholder="Описание")
                button.custom-btn(type="submit")
                  span Добавить
              .row
                .col-12.col-md-6
                  .performer-portfolio-card(data-toggle="modal" data-target="#portfolioModal")
                    .performer-portfolio-card__image
                      .performer-portfolio-card__text
                        span Смотреть фото
                        img(src="/images/Watch.svg" alt="Photo")
                      img(src="/images/Default.jpeg" alt="Portfolio")
                    h2.performer-portfolio-card__title Ремонт квартир
                    p.performer-portfolio-card__desc Поставил плинтусы, побелил потолок и покрасил стены
                .col-12.col-md-6
                  .performer-portfolio-card(data-toggle="modal" data-target="#portfolioModal")
                    .performer-portfolio-card__image
                      .performer-portfolio-card__text
                        span Смотреть фото
                        img(src="/images/Watch.svg" alt="Photo")
                      img(src="/images/Default.jpeg" alt="Portfolio")
                    h2.performer-portfolio-card__title Ремонт квартир
                    p.performer-portfolio-card__desc Поставил плинтусы, побелил потолок и покрасил стены
                .col-12.col-md-6
                  .performer-portfolio-card(data-toggle="modal" data-target="#portfolioModal")
                    .performer-portfolio-card__image
                      .performer-portfolio-card__text
                        span Смотреть фото
                        img(src="/images/Watch.svg" alt="Photo")
                      img(src="/images/Default.jpeg" alt="Portfolio")
                    h2.performer-portfolio-card__title Ремонт квартир
                    p.performer-portfolio-card__desc Поставил плинтусы, побелил потолок и покрасил стены
                .col-12.col-md-6
                  .performer-portfolio-card(data-toggle="modal" data-target="#portfolioModal")
                    .performer-portfolio-card__image
                      .performer-portfolio-card__text
                        span Смотреть фото
                        img(src="/images/Watch.svg" alt="Photo")
                      img(src="/images/Default.jpeg" alt="Portfolio")
                    h2.performer-portfolio-card__title Ремонт квартир
                    p.performer-portfolio-card__desc Поставил плинтусы, побелил потолок и покрасил стены

dist/performer-portfolio.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<title>Poleznus - Performer portfolio</title>
		<link href="css/style.bundle.css?f840de32f265658da150" rel="stylesheet" />
	</head>
	<body>
		<header class="header" id="header">
			<div class="container-fluid">
				<div class="header__content-wrap">
					<a class="header__logo" href="/"><img src="/images/Logo.svg" alt="Logo" /></a>
					<form class="form-group d-none d-md-block" action="/" data-form-ajax>
						<div class="form-icon to-left"><img src="/images/InputSearch.svg" alt="Search" /></div>
						<input class="form-input with-icon-left" name="search" placeholder="Что нужно сделать?" />
					</form>
				</div>
				<div class="header__actions-wrap d-flex d-xl-none">
					<div class="header__action header__action_search d-block d-md-none">
						<div class="header__action-icon header__action_search"><img src="/images/Search.svg" alt="Search" /></div>
					</div>
					<div class="header__action header__action_account">
						<button class="header__action-icon" type="button" data-toggle="modal" data-target="#registration">
							<img src="/images/Account.svg" alt="Account" />
						</button>
					</div>
					<div class="header__action header__action_menu">
						<div class="header__action-icon">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
				<div class="header__content-wrap d-none d-xl-flex">
					<div class="header__links-wrap">
						<a class="header__link is-link" href="/">Заказы</a>
						<a class="header__link is-link" href="/">Мои заказы</a>
						<a class="header__link is-link" href="/">Исполнители</a>
						<a class="header__link is-link" href="/">Как это работает</a>
					</div>
					<div class="header__account-actions">
						<button class="custom-btn" type="button" data-toggle="modal" data-target="#registration"><span>Зарегистрироваться</span></button>
						<button class="header__link" type="button" data-toggle="modal" data-target="#login">Логин</button>
					</div>
				</div>
			</div>
		</header>
		<div class="header-search d-flex d-md-none">
			<div class="container-fluid">
				<form class="search-form" action="/" data-form-ajax method="POST">
					<div class="form-group header-search-input">
						<img class="search-icon" src="/images/InputSearch.svg" alt="Search" />
						<input placeholder="Что нужно сделать?" />
						<button class="search-btn" type="submit"><img src="/images/SendIcon.svg" alt="Search" /></button>
					</div>
				</form>
			</div>
		</div>
		<main id="performer-portfolio-page">
			<section class="performer-portfolio-main-section">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-3">
							<ul class="performer-links">
								<li class="performer-links__item"><a class="performer-links__link" href="/performer-info.html">Общая информация</a></li>
								<li class="performer-links__item active"><a class="performer-links__link" href="/performer-portfolio.html">Портфолио</a></li>
								<li class="performer-links__item"><a class="performer-links__link" href="/performer-password.html">Изменить пароль</a></li>
								<li class="performer-links__item"><a class="performer-links__link" href="/performer-reviews.html">Отзывы</a></li>
								<li class="performer-links__item"><a class="performer-links__link" href="/performer-profile.html">Публичный профиль</a></li>
							</ul>
						</div>
						<div class="col-12 col-lg-9">
							<div class="performer-portfolio-wrap">
								<h1 class="section-title">Портфолио</h1>
								<form class="form-container" action="/" data-form-ajax method="POST" enctype="multipart/form-data">
									<div class="form-group form-file-group">
										<div class="form-file-upload">
											<img src="/images/PortfolioDefault.svg" alt="Portfolio" />
											<input
												class="form-input file-input excluded"
												type="file"
												multiple="multiple"
												id="portfolioFile"
												name="files"
												accept="image/jpeg,image/png,image/jpg"
											/>
										</div>
										<div class="form-files-row"></div>
									</div>
									<div class="form-group form-select-group">
										<div class="form-icon to-right"><img src="/images/SelectArrow.svg" alt="Arrow" /></div>
										<select class="form-input full-width with-icon-right" name="category" id="category">
											<option value="" disabled="disabled" selected="selected">Категория</option>
											<option value="category-1">Категория 1</option>
											<option value="category-2">Категория 2</option>
											<option value="category-3">Категория 3</option>
										</select>
									</div>
									<div class="form-group form-area-group">
										<textarea class="form-area" name="portfolioDesc" rows="8" placeholder="Описание"></textarea>
									</div>
									<button class="custom-btn" type="submit"><span>Добавить</span></button>
								</form>
								<div class="row">
									<div class="col-12 col-md-6">
										<div class="performer-portfolio-card" data-toggle="modal" data-target="#portfolioModal">
											<div class="performer-portfolio-card__image">
												<div class="performer-portfolio-card__text">
													<span>Смотреть фото</span>
													<img src="/images/Watch.svg" alt="Photo" />
												</div>
												<img src="/images/Default.jpeg" alt="Portfolio" />
											</div>
											<h2 class="performer-portfolio-card__title">Ремонт квартир</h2>
											<p class="performer-portfolio-card__desc">Поставил плинтусы, побелил потолок и покрасил стены</p>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="performer-portfolio-card" data-toggle="modal" data-target="#portfolioModal">
											<div class="performer-portfolio-card__image">
												<div class="performer-portfolio-card__text">
													<span>Смотреть фото</span>
													<img src="/images/Watch.svg" alt="Photo" />
												</div>
												<img src="/images/Default.jpeg" alt="Portfolio" />
											</div>
											<h2 class="performer-portfolio-card__title">Ремонт квартир</h2>
											<p class="performer-portfolio-card__desc">Поставил плинтусы, побелил потолок и покрасил стены</p>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="performer-portfolio-card" data-toggle="modal" data-target="#portfolioModal">
											<div class="performer-portfolio-card__image">
												<div class="performer-portfolio-card__text">
													<span>Смотреть фото</span>
													<img src="/images/Watch.svg" alt="Photo" />
												</div>
												<img src="/images/Default.jpeg" alt="Portfolio" />
											</div>
											<h2 class="performer-portfolio-card__title">Ремонт квартир</h2>
											<p class="performer-portfolio-card__desc">Поставил плинтусы, побелил потолок и покрасил стены</p>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="performer-portfolio-card" data-toggle="modal" data-target="#portfolioModal">
											<div class="performer-portfolio-card__image">
												<div class="performer-portfolio-card__text">
													<span>Смотреть фото</span>
													<img src="/images/Watch.svg" alt="Photo" />
												</div>
												<img src="/images/Default.jpeg" alt="Portfolio" />
											</div>
											<h2 class="performer-portfolio-card__title">Ремонт квартир</h2>
											<p class="performer-portfolio-card__desc">Поставил плинтусы, побелил потолок и покрасил стены</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-3 col-lg-2">
						<a class="footer__logo" href="/"><img src="/images/Logo.svg" alt="Logo" /></a>
						<div class="footer__socials d-none d-md-flex">
							<a class="footer__social-link" href="/"><img src="/images/FacebookIcon.svg" alt="Facebook" /></a>
							<a class="footer__social-link" href="/"><img src="/images/InstagramIcon.svg" alt="Instagram" /></a>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-5 col-lg-3">
						<h5 class="footer__title d-none d-lg-block">Разделы</h5>
						<h5 class="footer__title d-block d-lg-none">Разделы и помощь</h5>
						<ul class="footer__links-list">
							<li class="footer__links-item"><a class="footer__link is-link" href="/">О проекте</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Как это работает</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Заказы</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Исполнители</a></li>
						</ul>
						<ul class="footer__links-list d-flex d-lg-none">
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Вопросы и ответы</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Сообщить об ошибке</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Предложить функцию/идею</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Публичная оферта</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Правила конфиденциальности</a></li>
						</ul>
					</div>
					<div class="col-lg-4 d-none d-lg-block">
						<h5 class="footer__title">Помощь</h5>
						<ul class="footer__links-list">
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Вопросы и ответы</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Сообщить об ошибке</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Предложить функцию/идею</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Публичная оферта</a></li>
							<li class="footer__links-item"><a class="footer__link is-link" href="/">Правила конфиденциальности</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">
						<h5 class="footer__title">Контакты</h5>
						<div class="footer__address-wrap">
							<p class="footer__link">Почта</p>
							<a class="footer__address-info" href="mailto:support@poleznus.com">support@poleznus.com</a>
						</div>
						<div class="footer__address-wrap">
							<p class="footer__link">Телефон</p>
							<a class="footer__address-info" href="tel: 0 800 12 3456">0 800 12 3456</a>
						</div>
						<div class="footer__address-wrap">
							<p class="footer__link">Время работы</p>
							<p class="footer__address-info">Пн — Пт: c 8:00 до 20:00</p>
							<p class="footer__address-info">Сб — Вс: c 9:00 до 18:00</p>
						</div>
						<div class="footer__socials d-flex d-md-none">
							<a class="footer__social-link" href="/"><img src="/images/FacebookIcon.svg" alt="Facebook" /></a>
							<a class="footer__social-link" href="/"><img src="/images/InstagramIcon.svg" alt="Instagram" /></a>
						</div>
					</div>
					<div class="col-12">
						<div class="footer__copyright-row">
							<p class="footer__copyright-text">
								<a href="/">poleznus.com</a>
								© 2020
							</p>
							<p class="footer__copyright-text">
								Created with love by
								<a href="/">MantiCore Development</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="global-menu">
			<div class="container-fluid">
				<form class="search-form d-block d-md-none" action="/" data-form-ajax method="POST">
					<div class="form-group header-search-input">
						<img class="search-icon" src="/images/InputSearch.svg" alt="Search" />
						<input placeholder="Что нужно сделать?" />
						<button class="search-btn" type="submit"><img src="/images/SendIcon.svg" alt="Search" /></button>
					</div>
				</form>
				<ul class="global-menu__links-list">
					<li class="global-menu__links-item"><a class="global-menu__link" href="/">Заказы</a></li>
					<li class="global-menu__links-item"><a class="global-menu__link" href="/">Исполнители</a></li>
					<li class="global-menu__links-item"><a class="global-menu__link" href="/">Как это работает</a></li>
				</ul>
				<div class="global-menu__btns-row">
					<button class="custom-btn" type="button" data-toggle="modal" data-target="#registration"><span>Зарегистрироваться</span></button>
					<button class="custom-btn" type="button" data-toggle="modal" data-target="#login"><span>Войти</span></button>
				</div>
			</div>
		</div>
		<div class="filters-modal" id="filters">
			<div class="filters-modal__background"></div>
			<button class="filter-btn filters-modal__close" type="button">
				<img src="/images/FiltersClose.svg" alt="Filters" />
				<span class="d-none d-md-block">Фильтры</span>
			</button>
			<div class="filters-modal__body">
				<form class="form-container row" id="delas-filters" method="POST" action="/" data-form-ajax>
					<div class="form-group form-select-group with-label">
						<p class="form-label">Город</p>
						<div class="form-icon to-right"><img src="/images/SelectArrow.svg" alt="Arrow" /></div>
						<select class="form-input full-width with-icon-right" name="city" id="city" required>
							<option value="hide" selected="selected">Город</option>
							<option value="city-1">Одесса</option>
							<option value="city-2">Харьков</option>
							<option value="city-3">Херсон</option>
						</select>
					</div>
					<div class="form-group form-select-group with-label">
						<p class="form-label">Районы</p>
						<select class="form-input full-width with-icon-right" name="region" id="region" multiple="multiple" required>
							<option value="hide" selected="selected">Район</option>
							<option value="region-1">Одесский</option>
							<option value="region-2">Харьковский</option>
							<option value="region-3">Херсонский</option>
						</select>
					</div>
					<div class="form-group form-select-group with-label">
						<p class="form-label">Категории</p>
						<select
							class="form-input full-width with-icon-right"
							name="category"
							id="category"
							multiple="multiple"
							required
							data-select-type="chip-select"
						>
							<option value="hide" selected="selected">Выбрать категорию</option>
							<option value="region-1">Строительство домов</option>
							<option value="region-2">Ремонт квартир</option>
							<option value="region-3">Сварочные работы</option>
						</select>
						<div class="filters-chips d-none"></div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="container">
							<div class="modal-title">Ремонт квартир</div>
							<div class="modal-sub-title">Поставил плинтусы, побелил потолок и покрасил стены</div>
							<div class="modal-slider">
								<div class="slider" id="portfolioSlider">
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
									<div class="slide"><img src="/images/Default.jpeg" alt="Portfolio" /></div>
								</div>
								<div class="modal-slider-pagination">
									<div class="modal-slider-pagination__count modal-slider-pagination__count_current">1</div>
									<div class="modal-slider-pagination__count">/</div>
									<div class="modal-slider-pagination__count modal-slider-pagination__count_total">8</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-lg-7 col-top-content">
									<h2 class="modal-title">Регистрация</h2>
									<div class="modal-socials">
										<a class="modal-link modal-link__fb" href="/"><img class="svg" src="/images/FB_social.svg" alt="Facebook" /></a>
										<a class="modal-link modal-link__google" href="/"><img class="svg" src="/images/Google_social.svg" alt="Google" /></a>
										<a class="modal-link modal-link__apple" href="/"><img class="svg" src="/images/Apple_social.svg" alt="Apple" /></a>
									</div>
									<p class="modal-sub-title">Или через ваши данные:</p>
									<form class="modal-form" id="registration-form" method="POST" action="/" data-form-ajax>
										<div class="form-group"><input class="form-input" type="tel" name="phone" placeholder="Телефон" required /></div>
										<div class="form-group"><input class="form-input" type="email" name="email" placeholder="Почта" required /></div>
										<div class="form-group"><input class="form-input" type="password" name="password" placeholder="Пароль" required /></div>
										<button class="custom-btn" type="submit"><span>Зарегистрироваться</span></button>
									</form>
								</div>
								<div class="col-12 col-lg-5 col-bottom-content">
									<div class="modal-img modal-img-hats"><img src="/images/Hats.svg" alt="Hats" /></div>
									<h2 class="modal-title">Есть аккаунт?</h2>
									<p class="modal-sub-title">Чтобы создавать заказы или искать работу нужно войти в ранее созданный аккаунт</p>
									<a class="custom-btn" data-dismiss="modal" data-toggle="modal" href="#login"><span>Авторизоваться</span></a>
									<div class="modal-img modal-img-illustration"><img src="/images/ModalIllustration.svg" alt="Illustration" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-lg-7 col-top-content">
									<h2 class="modal-title">Вход в аккаунт</h2>
									<div class="modal-socials">
										<a class="modal-link modal-link__fb" href="/"><img class="svg" src="/images/FB_social.svg" alt="Facebook" /></a>
										<a class="modal-link modal-link__google" href="/"><img class="svg" src="/images/Google_social.svg" alt="Google" /></a>
										<a class="modal-link modal-link__apple" href="/"><img class="svg" src="/images/Apple_social.svg" alt="Apple" /></a>
									</div>
									<p class="modal-sub-title">Или войдите через ваши данные:</p>
									<form class="modal-form" id="login-form" method="POST" action="/" data-form-ajax>
										<div class="form-group"><input class="form-input" name="email" placeholder="Email или Телефон" required /></div>
										<div class="form-group"><input class="form-input" type="password" name="password" placeholder="Пароль" required /></div>
										<button class="custom-btn" type="submit"><span>Войти</span></button>
										<a class="modal-form-link is-link" data-dismiss="modal" data-toggle="modal" href="#recovery">
											<span class="link">Забыли пароль?</span>
										</a>
									</form>
								</div>
								<div class="col-12 col-lg-5 col-bottom-content">
									<div class="modal-img modal-img-hats"><img src="/images/Hats.svg" alt="Hats" /></div>
									<h2 class="modal-title">Нет аккаунта?</h2>
									<p class="modal-sub-title">Чтобы создавать заказы или искать работу нужно создать аккаунт с информацией о вас</p>
									<a class="custom-btn" data-dismiss="modal" data-toggle="modal" href="#registration"><span>Создать аккаунт</span></a>
									<div class="modal-img modal-img-illustration"><img src="/images/ModalIllustration.svg" alt="Illustration" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="recovery" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-lg-7 col-top-content">
									<h2 class="modal-title">Забыли пароли?</h2>
									<p class="modal-sub-title">Введите вашу почту и мы отправим вам код подтверждения</p>
									<form class="modal-form" id="recovery-form" method="POST" action="/" data-form-ajax>
										<div class="form-group"><input class="form-input" type="email" name="email" placeholder="Email" required /></div>
										<button class="custom-btn" type="submit"><span>Восстановить пароль</span></button>
										<a class="modal-form-link" data-dismiss="modal" data-toggle="modal" href="#login">
											<span class="text">Вспомнили пароль?</span>
											<span class="link">Войти</span>
										</a>
									</form>
								</div>
								<div class="col-12 col-lg-5 col-bottom-content">
									<div class="modal-img modal-img-hats"><img src="/images/Hats.svg" alt="Hats" /></div>
									<h2 class="modal-title">Нет аккаунта?</h2>
									<p class="modal-sub-title">Чтобы создавать заказы или искать работу нужно создать аккаунт с информацией о вас</p>
									<a class="custom-btn" data-dismiss="modal" data-toggle="modal" href="#registration"><span>Создать аккаунт</span></a>
									<div class="modal-img modal-img-illustration"><img src="/images/ModalIllustration.svg" alt="Illustration" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<h2 class="modal-title">Спасибо за заявку</h2>
						<p class="modal-sub-title">Мы свяжемся с вами позже</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="successRecovery" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><img src="/images/CloseIcon.svg" alt="Close" /></button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-lg-7 col-top-content">
									<div class="modal-img success-icon"><img src="/images/SuccessIcon.svg" alt="Success" /></div>
									<h2 class="modal-title">Проверьте вашу почту</h2>
									<p class="modal-sub-title">Мы отправили вам инструкцию по сбросу пароля</p>
									<p class="modal-sub-title">
										Нет письма? Проверьте спам или свяжитесь со
										<a href="tel:0 800 12 3456">службой поддержки</a>
									</p>
								</div>
								<div class="col-12 col-lg-5 col-bottom-content">
									<div class="modal-img modal-img-hats"><img src="/images/Hats.svg" alt="Hats" /></div>
									<h2 class="modal-title">Нет аккаунта?</h2>
									<p class="modal-sub-title">Чтобы создавать заказы или искать работу нужно создать аккаунт с информацией о вас</p>
									<a class="custom-btn" data-dismiss="modal" data-toggle="modal" href="#registration"><span>Создать аккаунт</span></a>
									<div class="modal-img modal-img-illustration"><img src="/images/ModalIllustration.svg" alt="Illustration" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/bundle.js?f840de32f265658da150"></script>
	</body>
</html>
